@model IEnumerable<RentingServices.Models.Property>
@{ 
    ViewData["Title"] = "Shoup our store";
}
<h1> Come live with us... </h1>
<section class="row card-group">
    @foreach(var c in Model)
            {
                <div class ="col-sm-6 col-lg-4 mb-4 ">
                    <div class="card mb-4 text-center h-100">
                        <div class="card-body">
                           <a asp-controller="SignAlease" asp-route-propertyid ="" >@c.City</a>
                        </div>
                    </div>
                </div>
            }
</section>

